.profile-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  background-position: top;
  padding: 30px;
  border-radius: 40px;
}

.retry-button {
  background-color: #4f46e5;
  border-width: 0;
  color: white;
  font-weight: 500;
  width: 140px;
  height: 50px;
  border-radius: 6px;
  font-size: 18px;
}
.profile-failure-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.bio {
  color: #475569;
  font-weight: 500;
  font-size: 20px;
  margin-top: 0;
}

.username {
  margin-top: 0;
  color: #4f46e5;
  font-weight: 600;
  font-size: 40px;
}

.profile-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}
